.search_form {
  display: flex;
}

.docType_doc_slot {
  color: #1966c2;
}

.docType_speaker_slot {
  color: #903ac2;
}

.search_row {
  width: inherit;
  margin-bottom: 5px;
}

.color_arrow {
  color: #1966c2;
}

.title_desplegar {
  display: flex;
  font-weight: 600;
}

.tool_desplegar {
  display: flex;
  color: #1966c2;
}

.nav_title {
  padding-left: 5px;
}

.sort_down {
  padding: 0 5px;
}

.user_down {
  color: #1966c2;
}

.menu_slot {
  padding: 20px 80px 0 80px;
  position: sticky;
  top: 0;
  background: #fff;
  display: block;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.expedientes {
  font-size: 15px;
}
p.expedientes:hover {
  color: #1966c2;
}

.documentos {
  font-size: 15px;
}
p.documentos:hover {
  color: #1966c2;
}
